@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body.nav-open main {
  margin-left: 16rem; /* Adjust this value to match the width of the side nav */
}

body main {
  transition: margin-left 0.3s ease;
}

.side-nav {
  transition: transform 0.3s ease;
}